.DS_Store
obj/
*/obj/
out/
*/out/
bin/
*/bin/
gen/
*/gen/

local.properties
.idea/

minibae/Tools/playbae/playbae
minibae/Tools/playbae/playbae.exe
libminiBAE.a
libminiBAE_debug.so
libminiBAE_debug.dll
libminiBAE.so
libminiBAE.dll
