[submodule "neobae/src/thirdparty/minimp3"]
	path = neobae/src/thirdparty/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "neobae/src/thirdparty/rtmidi"]
	path = neobae/src/thirdparty/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "neobae/src/thirdparty/libogg"]
	path = neobae/src/thirdparty/libogg
	url = https://github.com/xiph/ogg
[submodule "neobae/src/thirdparty/libvorbis"]
	path = neobae/src/thirdparty/libvorbis
	url = https://github.com/xiph/vorbis
[submodule "neobae/src/thirdparty/flac"]
	path = neobae/src/thirdparty/flac
	url = https://github.com/zefie/flac_android.git
[submodule "neobae/src/thirdparty/opus"]
	path = neobae/src/thirdparty/opus
	url = https://github.com/xiph/opus
[submodule "neobae/src/thirdparty/opusfile"]
	path = neobae/src/thirdparty/opusfile
	url = https://github.com/xiph/opusfile
[submodule "neobae/src/thirdparty/libg722"]
	path = neobae/src/thirdparty/libg722
	url = https://github.com/sippy/libg722
[submodule "neobae/src/thirdparty/qoa"]
	path = neobae/src/thirdparty/qoa
	url = https://github.com/phoboslab/qoa
[submodule "neobae/src/thirdparty/libxmp"]
	path = neobae/src/thirdparty/libxmp
	url = https://github.com/libxmp/libxmp
[submodule "neobae/src/thirdparty/imgui"]
	path = neobae/src/thirdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "neobae/src/thirdparty/adpcm-xq"]
	path = neobae/src/thirdparty/adpcm-xq
	url = https://github.com/dbry/adpcm-xq/
	branch = new-formats
[submodule "neobae/src/thirdparty/hyphen"]
	path = neobae/src/thirdparty/hyphen
	url = https://github.com/hunspell/hyphen.git
