.DS_Store
obj/
*/obj/
out/
*/out/
build/
*/build/
build-*/
gen/
*/gen/
tests/
*/tests/
*/__pycache__/

local.properties
.idea/
neobae/bin/
neobae/out/
neobae/.vscode/
neobae/.vs/
neobae/src/NeoBAEDroid/.gradle/
neobae/src/thirdparty/bassmidi/

neobae/src/rmfeditor_wx/vs2022/.vs/
neobae/src/rmfeditor_wx/vs2022/bin/
neobae/src/rmfeditor_wx/vs2022/generated/
neobae/src/rmfeditor_wx/vs2022/nbstudio/x64/
neobae/src/rmfeditor_wx/vs2022/vcpkg_installed/
neobae/src/rmfeditor_wx/vs2022/nbstudio/x86/

neobae/src/NeoBAEDroid/NeoBAEDroid.iws
neobae/src/NeoBAEDroid/NeoBAEDroid.ipr
neobae/src/NeoBAEDroid/app/release/
neobae/src/NeoBAEDroid/app/NeoBAEDroid.app.iml
neobae/src/NeoBAEDroid/app/NeoBAEDroid.app.main.iml
neobae/src/NeoBAEDroid/.kotlin/
neobae/src/NeoBAEDroid/app/NeoBAEDroid.app.androidTest.iml
neobae/src/NeoBAEDroid/app/NeoBAEDroid.app.unitTest.iml
