#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_NEOBAE_PREFERENCES DIALOGEX 0, 0, 320, 256
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Looping",IDC_STATIC,7,4,306,46
    CONTROL         "Enable looping",IDC_LOOP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,16,90,10
    LTEXT           "Loop count:",IDC_LOOP_COUNT_LABEL,16,32,48,8
    EDITTEXT        IDC_LOOP_COUNT,68,30,40,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Infinity (NeoBAE max)",IDC_LOOP_INFINITE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,32,120,10

    GROUPBOX        "Bank",IDC_STATIC,7,52,306,46
    CONTROL         "Use built-in bank",IDC_USE_BUILTIN_BANK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,64,100,10
    LTEXT           "Bank file:",IDC_BANK_LABEL,16,80,40,8
    EDITTEXT        IDC_BANK_PATH,58,78,196,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_BANK_BROWSE,258,77,46,14

    GROUPBOX        "Playback",IDC_STATIC,7,100,306,48
    CONTROL         "Smart DLS Handling",IDC_DLS_COMPAT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,114,120,10
    CONTROL         "Normalize",IDC_NORMALIZE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,150,114,70,10
    LTEXT           "Sample rate:",IDC_SAMPLE_RATE_LABEL,16,132,52,8
    COMBOBOX        IDC_SAMPLE_RATE,70,130,72,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "About",IDC_STATIC,7,150,306,98
    LTEXT           "foo_neobae:",IDC_STATIC,16,162,52,8
    LTEXT           "",IDC_PLUGIN_VERSION,70,162,232,8
    LTEXT           "libNeoBAE:",IDC_STATIC,16,174,52,8
    LTEXT           "",IDC_LIB_VERSION,70,174,232,8
    LTEXT           "Features:",IDC_STATIC,16,186,48,8
    EDITTEXT        IDC_LIB_FEATURES,16,196,286,44,ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | WS_VSCROLL | NOT WS_TABSTOP
END

#endif
