<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>NeoBAE Studio</string>
	<key>CFBundleDisplayName</key>
	<string>NeoBAE Studio</string>
	<key>CFBundleIdentifier</key>
	<string>com.zefie.nbstudio</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>nbstudio</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>neobae.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AIFF Audio</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aiff-audio</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_AIFF.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AU Audio</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.au-audio</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_AU.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MIDI File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.midi-audio</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_MIDI.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MIDI Karaoke File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zefie.neobae.kar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_KAR.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Rich Music Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zefie.neobae.rmf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_RMF.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>eXtensible Music Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zefie.neobae.xmf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_XMF.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mobile eXtensible Music Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zefie.neobae.mxmf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_MXMF.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>RIFF MIDI</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zefie.neobae.rmi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_RMI.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>FLAC Audio</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zefie.neobae.flac</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_FLAC.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MP3 Audio</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_MP3.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MPEG-1 Layer II Audio</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zefie.neobae.mp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_MP2.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ogg Vorbis Audio</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zefie.neobae.ogg</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_OGG.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>WAV Audio</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.waveform-audio</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>BAEFileType_WAV.icns</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.zefie.neobae.ogg</string>
			<key>UTTypeDescription</key>
			<string>Ogg Vorbis Audio</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/ogg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.zefie.neobae.mp2</string>
			<key>UTTypeDescription</key>
			<string>MPEG-1 Layer II Audio</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp2</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.zefie.neobae.rmf</string>
			<key>UTTypeDescription</key>
			<string>Rich Music Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmf</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/rmf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.zefie.neobae.xmf</string>
			<key>UTTypeDescription</key>
			<string>eXtensible Music Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xmf</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/xmf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.zefie.neobae.mxmf</string>
			<key>UTTypeDescription</key>
			<string>Mobile eXtensible Music Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxmf</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/mxmf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.zefie.neobae.rmi</string>
			<key>UTTypeDescription</key>
			<string>RIFF MIDI</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.midi-audio</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.zefie.neobae.kar</string>
			<key>UTTypeDescription</key>
			<string>MIDI Karaoke File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.midi-audio</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.zefie.neobae.flac</string>
			<key>UTTypeDescription</key>
			<string>FLAC Audio</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/flac</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
